*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input {
  margin-bottom: 2em;
}

.imgs {
  margin-bottom: 1em;
}